#root {
  width: 100%;
  min-height: 100svh;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Twitch Chaos Cats Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #101418;
}

::-webkit-scrollbar-thumb {
  background: #2d3742;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b4756;
}

::-webkit-scrollbar-corner {
  background: #101418;
}

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #2d3742 #101418;
}
